#msd{
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
    letter-spacing: 20px;
    font-size: 40px;
    text-align: left;
    text-shadow: 10px 6px 10px royalblue;

}
#vk{
    text-decoration: none;
    text-transform: uppercase;
    color:red;
    letter-spacing: 20px;
    font-size: 40px;
    text-align:center;
    text-shadow: 10px 6px 10px royalblue;

}
#rs{
    text-decoration: none;
    text-transform: small;
    color: blue;
    letter-spacing: 20px;
    font-size: 40px;
    text-align: right;
    text-shadow: 10px 6px 10px yellowgreen;

}
